@media only screen and (max-width: 1550px) {
  .link-section-left {
    position: unset;
    height: 140px;
    margin-bottom: 90px;
    .link-left {
      &:nth-child(1):before {
        height: 140px;
        background: gray;
      }
    }
  }
  .link-section-right {
    height: 140px;
    margin-bottom: 90px;
    position: unset;
    .link-right {
      &:nth-child(1):before {
        height: 140px;
        background: gray;
      }
    }
  }
  .footer-text {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 950px) {
  .footer-text {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .footer-text {
    margin-left: 20px;
    margin-right: 20px;
  }
  .link-section-left {
    .link-left {
      padding-left: 30px;
      &::after {
        width: 20px;
      }
    }
  }
  .link-section-right {
    .link-right {
      padding-right: 30px;
      &::after {
        width: 20px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .footer-text {
    font-size: 0.8rem;
  }
}
@media only screen and (max-height: 700px) {
  .footer-text {
    font-size: 0.8rem;
  }
}
