@media only screen and (max-width: 800px) {
  .contact-name {
    font-size: 3.5rem;
    justify-content: center;
    text-align: center;
  }
  .contact-container {
    flex-direction: column;
    align-items: center;
    width: 80%;
    .contact-text {
      width: 100%;
      text-align: center;
      .contact-heading {
        font-size: 2.5rem;
      }
      .contact-subheading {
        font-size: 1rem;
      }
    }
    .contact-form {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .contact-container {
    width: 90%;
  }
}
