.footer-main {
  display: flex;
  background-color: black;
  * {
    transition: all 0.3s ease;
  }
  .link-section-left {
    height: 150px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    .link-left {
      position: relative;
      padding-left: 50px;
      a {
        text-decoration: none;
        color: gray;
        font-size: 2rem;
        height: 60px;
        display: flex;
        align-items: center;
        &:hover {
          color: white;
          filter: drop-shadow(0 0 10px white);
        }
      }
      &:nth-child(1):before {
        position: absolute;
        content: "";
        height: 250px;
        width: 4px;
        background: linear-gradient(grey 65%, transparent, transparent);
        left: 0;
        top: 30px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 4px;
        background-color: gray;
        left: 0;
        top: calc(50% - 2px);
      }
    }
  }
  .link-section-right {
    height: 150px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-right: 4vw;
    .link-right {
      position: relative;
      padding-right: 50px;
      a {
        text-decoration: none;
        color: gray;
        font-size: 2rem;
        height: 60px;
        display: flex;
        align-items: center;
        &:hover {
          color: white;
          filter: drop-shadow(0 0 10px white);
        }
      }
      &:nth-child(1):before {
        position: absolute;
        content: "";
        height: 250px;
        width: 4px;
        background: linear-gradient(grey 65%, transparent, transparent);
        right: 0;
        top: 30px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 4px;
        background-color: gray;
        right: 0;
        top: calc(50% - 2px);
      }
    }
  }
  .footer-text {
    margin: 0 auto;
    color: white;
    font-size: 1.1rem;
    padding: 1.5vh 0;
  }
}
