.about-me-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(0.5turn, #000107, 25%, #282828);
  color: white;
  * {
    transition: all 0.3s ease;
  }
  .about-me-head {
    display: flex;
    max-width: 1170px;
    width: 90%;
    padding-top: 10vh;
    margin: 0 auto;
    font-family: "Pacifico";
    font-size: 4.5rem;
    font-weight: 500;
  }
  .about-me-text {
    display: flex;
    max-width: 1170px;
    width: 90%;
    margin: 10vh auto;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 5vh;
    .about-me-para {
      display: flex;
      flex-direction: column;
      width: 50%;
      font-size: 1.25rem;
      p {
        padding-bottom: 10px;
      }
    }
    & > .img-container {
      width: 350px;
      height: 550px;
      border-radius: 25px;
      position: relative;
      overflow: hidden;
      img {
        border-radius: 25px;
        z-index: 2;
        filter: grayscale(100%);
        pointer-events: none;
      }
      &:hover {
        img {
          padding: 5px;
          filter: none;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-image: linear-gradient(white, rgb(194, 197, 0));
          height: 100%;
          width: 100%;
          border-radius: 25px;
        }
      }
    }
  }
}
