.projects-main {
  display: flex;
  flex-direction: column;
  background-color: #14532d;
  width: 100%;
  padding: 2vh 0 4vh 0;
  .projects-name {
    padding-top: 10vh;
    display: flex;
    color: white;
    width: 80%;
    align-self: center;
    font-size: 2rem;
    font-weight: 500;
  }
  .projects-container {
    width: 80%;
    height: fit-content;
    padding: 6vh 6vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    .project-container {
      background-color: white;
      margin: 2vh 1vw;
      border-radius: 6%;
      overflow: hidden;
      & > .img-container {
        width: 100%;
        aspect-ratio: 1;
      }
      .proj-name {
        display: flex;
        width: 90%;
        margin: 1vw auto;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.05em;
      }
      .proj-decr {
        font-size: 0.9rem;
        font-weight: 300;
        display: flex;
        width: 90%;
        margin: 1vw auto;
      }
      .proj-more {
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        width: 90%;
        margin: 1vw auto;
      }
    }
  }
}
