@media only screen and (max-width: 1000px) {
  .header-link-container {
    display: none;
  }
  * {
    transition: all 0.3s ease;
  }
  .background-fuzzy {
    &.active {
      display: unset;
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      isolation: isolate;
      z-index: -1;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(25px);
    }
    &.inactive {
      display: none;
    }
  }
  .header-burger-menu {
    display: flex;
    position: relative;
    align-items: center;
    transform: translateY(5px);
    .burger {
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 8px;
      width: 40px;
      overflow: hidden;
      .line {
        width: 100%;
        &._1,
        &._3 {
          display: flex;
          justify-content: space-between;
          .line-segment {
            height: 4px;
            width: 40%;
            background-color: white;
            border-radius: 5px;
          }
        }
        &._2 {
          display: flex;
          align-self: center;
          width: 60%;
          .line-segment {
            height: 4px;
            width: 100%;
            background-color: white;
          }
        }
      }
      &.inactive {
        .line {
          &._1,
          &._2,
          &._3 {
            .line-segment {
              &._1 {
                transform: rotate(0);
              }
              &._2 {
                transform: rotate(0);
              }
            }
          }
          &._2 {
            .line-segment {
              &._1 {
                border-radius: 3px 0 0 3px;
              }
              &._2 {
                border-radius: 0 3px 3px 0;
              }
            }
          }
        }
      }
      &.active {
        .line {
          &._1 {
            .line-segment {
              background-color: black;
              &._1 {
                transform: rotate(45deg);
              }
              &._2 {
                transform: rotate(-45deg);
              }
            }
          }
          &._2 {
            .line-segment {
              background-color: black;
              &._1 {
                transform: rotate(45deg) translateX(-1px) translateY(-4.25px)
                  scaleX(300%);
              }
              &._2 {
                transform: rotate(-45deg) translateX(1px) translateY(-4.25px)
                  scaleX(300%);
              }
            }
          }
          &._3 {
            .line-segment {
              background-color: black;
              &._1 {
                transform: rotate(-45deg) translateX(0.25px);
              }
              &._2 {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
    .header-burger-menu-links {
      z-index: 2;
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 105vh;
      width: 100vw;
      top: 0;
      right: 0;
      padding: 10vh 5vw;
      background: linear-gradient(
        to right,
        transparent,
        transparent 35%,
        rgb(255, 255, 255) 90%,
        rgb(255, 255, 255)
      );
      transition: all 0.5s ease;
      .header-link {
        padding: 5vh 0;
        height: 12.5vh;
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
        align-items: flex-end;
        text-decoration: none;
        justify-content: flex-start;
        align-self: flex-end;
        color: black;
        font-weight: 500;
        .header-link-span-1 {
          font-size: 0.75rem;
        }
        .header-link-span-2 {
          font-size: 1.25rem;
        }
        &:hover {
          color: white;
        }
        &:nth-child(1) {
          margin-top: 5vh;
        }
      }
      &.inactive {
        transform: translateX(100vw) translateY(-4vh);
      }
      &.active {
        transform: translateX(5vw) translateY(-4vh);
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .header-my-name {
    font-size: 1.75rem;
  }
  .header-burger-menu {
    .burger {
      row-gap: 6px;
      width: 30px;
      &.active {
        .line {
          &._1 {
            .line-segment {
              &._1 {
                transform: rotate(45deg) translateY(0.5px);
              }
              &._2 {
                transform: rotate(-45deg) translateY(0.5px);
              }
            }
          }
          &._2 {
            .line-segment {
              &._1 {
                transform: rotate(45deg) translateX(-1px) translateY(-3.45px)
                  scaleX(300%);
              }
              &._2 {
                transform: rotate(-45deg) translateX(1px) translateY(-3.5px)
                  scaleX(300%);
              }
            }
          }
          &._3 {
            .line-segment {
              &._1 {
                transform: rotate(-45deg) translateY(-1px) scaleX(2);
              }
              &._2 {
                transform: rotate(45deg) translateY(-1px) scaleX(2);
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-height: 700px) {
  .header-my-name {
    height: 35px;
  }
  .header-burger-menu {
    transform: translateY(1px);
  }
}
