.work-main {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  background: linear-gradient(0.5turn, #111111, 55%, #3a3a3a);
  padding-top: 15vh;
  * {
    transition: all 0.3s ease;
  }
  .work-header {
    max-width: 1170px;
    width: 90%;
    display: flex;
    margin: 5vh auto 7.5vh auto;
    .header-text {
      width: 100%;
      display: flex;
      column-gap: 10px;
      align-items: center;
      .header-text-heading {
        width: 380px;
        font-size: 4.5rem;
        font-weight: 500;
        font-family: "Pacifico";
      }
      .header-text-subheading {
        width: calc(100% - 380px);
        font-size: 1.25rem;
        margin-top: 2vh;
        padding-left: 30px;
        border-left: 3px solid white;
      }
    }
  }
  .works-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    width: 90%;
    align-self: center;
    .works-filter {
      display: flex;
      width: 500px;
      justify-content: space-between;
      transition: all 0.3s ease;
      .filter-span {
        font-size: 1.1rem;
        margin-right: 10px;
      }
      &:hover {
        .work-label-container {
          label {
            color: gray;
          }
        }
      }
      .work-label-container {
        display: flex;
        height: 18px;
        margin: auto 0;
        overflow: hidden;
        align-items: center;
        padding-bottom: 1px;
        input {
          display: none;
          &:checked ~ label {
            color: rgb(255, 90, 255);
          }
        }
        label {
          font-size: 0.95rem;
          background: none;
          border: none;
          color: white;
          cursor: pointer;
          text-transform: uppercase;
          &:hover {
            color: white;
          }
          border-right: 2px solid white;
          padding-right: 7.5px;
        }
        &:nth-child(6) {
          label {
            border-right: none;
          }
        }
      }
    }
    .works-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 7.5vh 0;
      gap: 6vh 5vh;
      &:hover {
        .work-container {
          transform: scale(0.95);
          background-color: rgba(80, 80, 80, 0.5);
        }
      }
      .work-container {
        position: relative;
        background-color: rgb(85, 85, 85);
        display: flex;
        flex-direction: column;
        padding: 15px;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        & > .img-container {
          height: 210px;
          aspect-ratio: 1;
          border-radius: 5px;
          overflow: hidden;
          pointer-events: none;
        }
        .work-title {
          margin: 25px 0 5px 0;
          font-size: 1.4rem;
        }
        &:hover {
          background-color: rgb(68, 25, 107);
          transform: scale(1.05);
        }
        .live-status {
          position: absolute;
          top: 20px;
          right: 25px;
          background-color: rgb(161, 0, 0);
          width: 45px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 7.5px;
        }
      }
    }
  }
  @import "./work-mobile";
}
