@media only screen and (max-width: 1350px) {
  .works-wrapper {
    .works-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 6vh 10vh;
    }
  }
}
@media only screen and (max-width: 950px) {
  .works-wrapper {
    .works-container {
      gap: 6vh 5vh;
    }
  }
}
@media only screen and (max-width: 900px) {
  .work-header {
    .header-text {
      .header-text-heading {
        font-size: 3.5rem;
        width: 300px;
      }
      .header-text-subheading {
        width: calc(100% - 300px);
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .work-header {
    width: 80%;
    flex-direction: column;
    text-align: center;
    .header-text {
      width: 100%;
      .header-text-subheading {
        margin-left: 20px;
      }
    }
  }
  .works-wrapper {
    width: 80%;
    align-items: center;
    .works-container {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      &:hover {
        .work-container {
          transform: scale(1);
          background-color: rgba(85, 85, 85);
        }
      }
      .work-container {
        &:focus {
          background-color: rgb(68, 25, 107);
          transform: scale(1.05);
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .work-header {
    .header-text {
      flex-direction: column;
      .header-text-heading {
        width: 100%;
        padding-bottom: 3vh;
      }
      .header-text-subheading {
        width: 100%;
        border: none;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .works-wrapper {
    .works-filter {
      flex-direction: column;
      width: fit-content;
      gap: 15px;
      align-items: center;
      .filter-span {
        margin-right: 0;
      }
      .work-label-container {
        overflow: visible;
        label {
          border: none;
          border-bottom: 2px solid white;
          padding-right: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .work-header {
    width: 90%;
  }
  .works-wrapper {
    width: 90%;
  }
}
